/* font-family: "CuprumRegular"; */
@font-face {
    font-family: "Cuprum";
    src: url("../fonts/CuprumRegular/CuprumRegular.eot");
    src: url("../fonts/CuprumRegular/CuprumRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CuprumRegular/CuprumRegular.woff") format("woff"),
    url("../fonts/CuprumRegular/CuprumRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CuprumBold"; */
@font-face {
    font-family: "CuprumBold";
    src: url("../fonts/CuprumBold/CuprumBold.eot");
    src: url("../fonts/CuprumBold/CuprumBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CuprumBold/CuprumBold.woff") format("woff"),
    url("../fonts/CuprumBold/CuprumBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CuprumItalic"; */
@font-face {
    font-family: "CuprumItalic";
    src: url("../fonts/CuprumItalic/CuprumItalic.eot");
    src: url("../fonts/CuprumItalic/CuprumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CuprumItalic/CuprumItalic.woff") format("woff"),
    url("../fonts/CuprumItalic/CuprumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CuprumBoldItalic"; */
@font-face {
    font-family: "CuprumBoldItalic";
    src: url("../fonts/CuprumBoldItalic/CuprumBoldItalic.eot");
    src: url("../fonts/CuprumBoldItalic/CuprumBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CuprumBoldItalic/CuprumBoldItalic.woff") format("woff"),
    url("../fonts/CuprumBoldItalic/CuprumBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "PTSansNarrowRegular"; */
@font-face {
    font-family: "PT Sans Narrow";
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot");
    src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"),
    url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansNarrowBold"; */
@font-face {
    font-family: "PTSansNarrowBold";
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
    src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"),
    url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
